<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema Acadêmico</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{% url 'index' %}">Sistema Acadêmico</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'cursos' %}">Cursos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'disciplinas' %}">Disciplinas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'turmas' %}">Turmas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'cadastros' %}">Cadastro</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'matriculas' %}">Matriculas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'frequencias' %}">Frequencia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'ocorrencias' %}">Ocorrencias</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'avaliacoes' %}">Avaliacoes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/admin/">Administração</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-5">
    <div class="jumbotron text-center">
        <h1 class="display-4">Bem-vindo ao Sistema Acadêmico</h1>
        <p class="lead">Gerencie cursos, turmas e alunos de forma integrada.</p>
        <hr class="my-4">
        <p>Utilize o menu acima para navegar entre as funcionalidades.</p>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>